@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <input type="hidden" id="id" name="id" value="${item.id}" underline="true"/>
                    教学水平:<select id="level" name="level" class="form-control" >
                    <option
                            @if(100==item.level){
                            selected="selected"
                            @}
                                                    value="100" class="alert alert-success alert-dismissable">
                        100
                    </option>
                    <option
                            @if(80==item.level){
                            selected="selected"
                            @}
                            value="80" class="alert alert-success alert-dismissable">
                        80
                    </option>
                    <option
                            @if(70==item.level){
                            selected="selected"
                            @}
                            value="70" class="alert alert-success alert-dismissable">
                        70
                    </option>
                    <option

                            @if(60==item.level){
                            selected="selected"
                            @}
                            value="60" class="alert alert-success alert-dismissable">
                        60
                    </option>
                </select>
                    工作作风:<select id="morality" name="morality" class="form-control" >
                    <option
                            @if(100==item.morality){
                            selected="selected"
                            @}
                            value="100" class="alert alert-success alert-dismissable">
                        100
                    </option>
                    <option
                            @if(80==item.morality){
                            selected="selected"
                            @}


                            value="80" class="alert alert-success alert-dismissable">
                        80
                    </option>
                    <option
                            @if(70==item.morality){
                            selected="selected"
                            @}

                            value="70" class="alert alert-success alert-dismissable">
                        70
                    </option>
                    <option
                            @if(60==item.morality){
                            selected="selected"
                            @}

                            value="60" class="alert alert-success alert-dismissable">
                        60
                    </option>
                </select>
                    行为规范: <select id="style" name="style" class="form-control" >
                    <option
                            @if(100==item.style){
                            selected="selected"
                            @}

                            value="100" class="alert alert-success alert-dismissable">
                        100
                    </option>
                    <option

                            @if(80==item.style){
                            selected="selected"
                            @}
                            value="80" class="alert alert-success alert-dismissable">
                        80
                    </option>
                    <option
                            @if(70==item.style){
                            selected="selected"
                            @}

                            value="70" class="alert alert-success alert-dismissable">
                        70
                    </option>
                    <option
                            @if(60==item.style){
                            selected="selected"
                            @}

                            value="60" class="alert alert-success alert-dismissable">
                        60
                    </option>
                </select>
                    教师品德:<select id="code" name="code" class="form-control" >
                    <option
                            @if(100==item.code){
                            selected="selected"
                            @}

                            value="100" class="alert alert-success alert-dismissable">
                        100
                    </option>
                    <option
                            @if(80==item.code){
                            selected="selected"
                            @}

                            value="80" class="alert alert-success alert-dismissable">
                        80
                    </option>
                    <option

                            @if(70==item.code){
                            selected="selected"
                            @}
                            value="70" class="alert alert-success alert-dismissable">
                        70
                    </option>
                    <option
                            @if(60==item.code){
                            selected="selected"
                            @}

                            value="60" class="alert alert-success alert-dismissable">
                        60
                    </option>
                </select>
                </div>

                <div class="col-sm-6">
                    <input type="hidden" id="userid" value="${item.userid}">
                            <#input  id="username" name="教师姓名" value="${item.username}" readonly="true"/>
                            <input type="hidden" id="markid" name="markid" value="${item.markid}" />
                            <#input id="datetime" name="评分时间" value="${item.datetime}" readonly="true" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="MarkInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="MarkInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/TeacherRating/mark/mark_info.js"></script>
@}
