@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>教师排名</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                                <table class="table table-hover table-striped" style="width: 933px;">
                                    <thead>
                                    <tr>
                                        <th style="text-align: center; vertical-align: middle; "
                                            data-field="coursename">
                                            <div class="th-inner ">教师</div>
                                            <div class="fht-cell" style="width: 148.2px;"></div>
                                        </th>
                                        <th style="text-align: center; vertical-align: middle; " data-field="score">
                                            <div class="th-inner ">平均分</div>
                                            <div class="fht-cell" style="width: 149.2px;"></div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @for(entry in teachers){
                                    <tr  >
                                        <td style="text-align: center; vertical-align: middle; ">  ${entry.key}</td>
                                        <td style="text-align: center; vertical-align: middle; "> ${entry.value}</td>
                                    </tr>
                                    @}
                                    </tbody>
                                </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script >

</script>
@}
